/* Global style */
body {
  color: black;
  background-color: lightslategray;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: ltr;
}

/* Applies to chosen elements. */
header, nav, main, footer {
  margin: 16px;
  color: black;
  background-color: lightslategray;
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 0%;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  margin: 16px;
  color: black;
  background-color: lightslategray;
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
  border: 2px, black;
  border-radius: 8px;
  padding: 5px;
}

#IMG1 {
  margin-left: 25px;
  padding-left: 20px;
  float: right;
  background-color: rgb(31, 77, 119);
  border-radius: 10px;
}

/* Aside style */
aside {
  margin-left: 45px;
  padding-left: 25px;
  float: inline-end;
  font-style: italic;
  color: black;
  background-color: rgb(142, 178, 214);
  border-radius: 12px;
}

/* Applies to all <... id="IMG"> elements */
#IMG {
  margin-left: 25px;
  padding: 2px;
  background-color: rgb(31, 77, 119);
  border-radius: 10px;
}

/* Applies to all <h2>...</h2> elements */
h2 {
  margin: 16px;
  color: black;
  background-color: lightcyan;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 2px black;
  border-radius: 8px;
  padding: 5px;
}

/* Applies to all <h3>...</h3> elements */
h3 {
  margin: 16px;
  color: black;
  background-color: lightcyan;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 2px black;
  border-radius: 8px;
  padding: 5px;
}

caption {
  color: black;
  background-color: lightskyblue;
  font-family: "Anta", sans-serif;
  border: 2px black;
  border-radius: 8px;
}

/* Applies to all <table>...</table> elements */
table {
  color: black;
  font-family: "Anta", sans-serif;
  border: 2px black;
  border-radius: 8px;
}
/* Colors for each icon <i>...</i> */
.bi-info-circle-fill { color: black; }
.bi-file-code-fill { color: black; }
.bi-camera-reels-fill { color: black; }
.bi-box-fill { color: black; }

/* Buttons for links <... class="button"> elements */
.button {
  display: inline-block;
  padding: 15px 15px;
  font-family: "Kode Mono", monospace;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #618894;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(6, 6, 39);
}

.button:hover {background-color: #113f5e}
.button:active {
  background-color: #0c324b;
  box-shadow: 0 5px rgb(6, 6, 39);
  transform: translateY(4px);
}