/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  color: aliceblue;
  margin: 25px;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/bc3d6667ed7d4d3e87c8c23d6d1fc2e23183d5d7/Folder1/Final%20Project%20-%20Horror%20Games/_0cc47097-1048-4c2b-b3bd-5f8a9835bab7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Syne mono", monospace;
}

.links {
  text-align: right;
}

a:link {
  color: maroon;
  font-family: "Syne mono", monospace;
  font-size: 24px;
  transition: 0.35;
  -webkit-transition-duration: 0.35s; /* For a user with Safari browser */
  transition-duration: 0.35s;
}

/* visited link */
a:visited {
  color: darkred;
}

/* mouse over link */
a:hover {
  color: red;
  cursor: pointer;
}

/* selected link */
a:active {
  box-shadow: 0 5px maroon;
  transform: translateY(4px);
  animation-duration: 1;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-family: "Cinzel", serif;
  margin-top: 5px;
}

/* settings for a font */
.cinzel {
  color: ivory;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* settings for a font */
.syne-mono {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.button {
  color: maroon;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/53be2d52a31b0cb92199c08874f565ab2d4401e6/Folder1/Final%20Project%20-%20Horror%20Games/_7a90bd61-2e10-4aac-9ec1-cf12c723f0f2.jpeg);
  background-size: cover;
  font-family: "Syne Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 8px;
  display: inline-flex;
  padding: 15px;
  cursor: pointer;
  transition: background-image 0.35;
  -webkit-transition-duration: 0.35s; /* For a user with Safari browser */
  transition-duration: 0.35s;
}

.button:hover {
  cursor: pointer;
  font-size: 22px;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/9be15a363d7b7681cd99b7ab49676d472db22466/Folder1/Final%20Project%20-%20Horror%20Games/IMG_0362.jpeg);
}

.button:active {
  box-shadow: 0 5px maroon;
  transform: translateY(4px);
  animation-duration: 1;
}

.button1 {
  color: maroon;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/c8e3435960ee825485d2846ad0563defaf38872b/Folder1/Final%20Project%20-%20Horror%20Games/IMG_0376.jpeg);
  background-size: cover;
  font-family: "Syne Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 8px;
  display: inline-flex;
  padding: 15px;
  cursor: pointer;
  transition: background-image 0.35;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

.button1:hover {
  cursor: pointer;
  font-size: 22px;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/c8e3435960ee825485d2846ad0563defaf38872b/Folder1/Final%20Project%20-%20Horror%20Games/IMG_0376.jpg);
}

.button1:active {
  box-shadow: 0 5px maroon;
  transform: translateY(4px);
  animation-duration: 1;
}

.button2 {
  color: maroon;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/e950428ff5d97bbc0fddafd276e084f999ddd90d/Folder1/Final%20Project%20-%20Horror%20Games/img_0377.jpg);
  background-size: cover;
  font-family: "Syne Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 8px;
  display: inline-flex;
  padding: 15px;
  cursor: pointer;
  transition: background-image 0.35;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

.button2:hover {
  cursor: pointer;
  font-size: 22px;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/b5ffa473d6e62766cceab4cf2778d013d6c23184/Folder1/Final%20Project%20-%20Horror%20Games/img_0378.jpg);
}

.button2:active {
  box-shadow: 0 5px maroon;
  transform: translateY(4px);
  animation-duration: 1;
}

.button3 {
  color: maroon;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/0cceaf770cb32946131dd9681774950b2f684265/Folder1/Final%20Project%20-%20Horror%20Games/logo-soma-review.jpg);
  background-size: cover;
  font-family: "Syne Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 8px;
  display: inline-flex;
  padding: 15px;
  cursor: pointer;
  transition: background-image 0.35;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

.button3:hover {
  cursor: pointer;
  font-size: 22px;
  background-image: url(https://raw.githubusercontent.com/BoshyBrain/HTML-Projects/0cceaf770cb32946131dd9681774950b2f684265/Folder1/Final%20Project%20-%20Horror%20Games/logo-soma-review1.jpg);
}

.button3:active {
  box-shadow: 0 5px maroon;
  transform: translateY(4px);
  animation-duration: 1;
}

/* Instructions for "Outlast" page */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Instructions for "SOMA" page */

.simon_table {
  margin: 15px;
  padding: 10px;
  border-collapse: collapse;
}

.simon_table tr:first-child {
  border-bottom: 1px solid black;
}

.simon_table tr:not(:first-child) {
  border: none;
}

.catherine_table {
  float: inline-end;
  margin: 15px;
  padding: 10px;
  border-collapse: collapse;
}

.catherine_table tr:first-child {
  border-bottom: 1px solid black;
}

.catherine_table tr:not(:first-child) {
  border: none;
}

.table-container {
  overflow: hidden; /* Clear float */
}

.simon_table {
  float: left;
    width: 10%; /* Adjust as needed */
    margin-right: 10px; /* Add space between tables */
}

.catherine_table {
  float: left;
  width: 10%; /* Adjust as needed */
}
/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }